# THE SPARKS FOUNDATION GRIP TASKS

# Data Science And Business Analytics Internship- Sep22
## **Author : ASHISH SINGH**
## **TASK2 : Prediction Using Unsupervised Machine Learning**
 **Objective is to predict the optimum number of clusters of "iris" dataset by using Unsupervised ML algorithm**

In [1]:
#IMPORTING ALL REQUIRED LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")
from sklearn.datasets import load_iris

In [2]:
#TO READ THE DATA
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
#TO GET FIRST FIVE ROWS FROM DATASET
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#TO CHECK HOW MANY ROWS AND COLUMNS IN DATA
iris.shape

(150, 5)

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
#TO CHECK NULL VALUES IN DATA
iris.isnull().sum()

In [ ]:
#TO CHECK ANY DUPLICATE VALUES IN DATA
iris.duplicated().sum()

In [ ]:
# drop duplicate rows
iris.drop_duplicates(inplace=True) 
iris.shape[0]

In [ ]:
#TO GET ALL COLUMNS NAMES AVAILABLE IN DATASET
iris.columns

In [ ]:
#TO CHECK HOW MANY EXAMPLES WE HAVE OF EACH SPECIES    
iris["species"].value_counts()

In [ ]:
#TO GET STATISCAL SUMMARY OF DATA
iris.describe()

In [ ]:
#checking for any outliers in the numeric data 
for i in iris.columns:
    if iris[i].dtype=='float64':
        plt.figure(figsize=(6,3))
        sns.boxplot(iris[i])
        plt.show()

In [ ]:
iris.species.unique()

### Data Visualisation:

In [ ]:
#Distribution of features by Species
#TO CHECK THE VARIATIONS IN DATA DISTRIBUTION
sns.distplot(iris["sepal_length"],color="blue")
sns.set(rc={'figure.figsize':(7,5)})

In [ ]:
sns.distplot(iris["sepal_width"],color="blue")
sns.set(rc={'figure.figsize' :(7,5)})

In [ ]:
sns.distplot(iris["petal_length"],color="blue")
sns.set(rc={'figure.figsize' : (7,5)})

In [ ]:
#TO CHECK PAIRWISE RELATIONSHIPS IN DATASET 
sns.pairplot(iris,height=2, kind= 'kde')

### Covariance matrix:

In [ ]:
#Covariance
iris.cov()

In [ ]:
#Correlation between variables. Checking if change in one variable affects the other
iris.corr()

In [ ]:
#Correlation Matrix
plt.figure(figsize=(12,8))
sns.heatmap(abs(iris.corr()),cmap= 'GnBu', annot= True);

### Finding optimal number of clusters using elbow method

In [ ]:
#TO FIND OPTIMAL NUMBER OF CLUSTERS FOR K MEANS CLUSTRING 
x=iris.iloc[:,:-1].values
from sklearn.cluster import KMeans
wcss=[]
for i in range(1, 11):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', 
                    max_iter = 300, n_init = 10, random_state = 0)
    kmeans.fit(x)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 11), wcss)
plt.title("'ELBOW METHOD TO DETERMINE OPTIMAL VALUE OF 'K'\n")
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
# APPLYING KMEANS TO THE DATASET 
kmeans = KMeans(n_clusters = 3, init = 'k-means++',
                max_iter = 300, n_init = 10, random_state = 0)
y_kmeans = kmeans.fit_predict(x)
y_kmeans

In [ ]:
iris['cluster'] = y_kmeans
iris

In [ ]:
display(iris['cluster'].value_counts(), iris['species'].value_counts())

In [ ]:
iris['species_encoded'] = iris['species'].apply(lambda x: 1 if x=='iris-setosa' else 2 if x=='iris-virginica' else 0)
iris

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(iris['species_encoded'], iris['cluster']))

In [ ]:
from sklearn.metrics import confusion_matrix
sns.heatmap(confusion_matrix(iris['species_encoded'],iris['cluster']), annot=True);

### Test set result visualization

In [ ]:
plt.scatter(x[y_kmeans == 0, 0], x[y_kmeans == 0, 1], 
            s = 100, c = 'red', label = 'iris-setosa')
plt.scatter(x[y_kmeans == 1, 0], x[y_kmeans == 1, 1], 
            s = 100, c = 'blue', label = 'iris-versicolour')
plt.scatter(x[y_kmeans == 2, 0], x[y_kmeans == 2, 1],
            s = 100, c = 'green', label = 'iris-virginica')

#PLOTTING THE CENTROIDS OF THE CLUSTERS 
plt.title('Predicted Clusters\n')
plt.scatter(kmeans.cluster_centers_[:, 0], kmeans.cluster_centers_[:,1], 
            s = 100, c = 'yellow', label = 'Centroids')
plt.legend()